<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      @ionicframework
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-content>
    <ion-searchbar (ionInput)="findfn($event)"></ion-searchbar>
  <ion-list>
    <ion-item>
    </ion-item>
    <ion-item *ngFor="let item of contactlist">
      <h2>{{ item.displayName }}</h2>
      <h3>{{item.phoneNumbers[0].value}}</h3>
      <span *ngIf="item.phoneNumbers.length>1">more...</span>
      <button ion-button (click)="addReminder(item)" item-end icon-right>
        Manage
        <ion-icon name="alarm"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>